.country{
  border: 2px solid blue;
  border-radius: 10px;
  margin: 10px;
  padding-top: 10px;
}
.country:nth-child(2n+1){
  color: white;
  background-color: rgb(39, 102, 86);
}
.country:nth-child(2n){
  background-color: skyblue;
}